*{
    margin: 0;
    padding: 0;
    /*font-family: 'Nova Oval', cursive; font link*/
    font-family: 'Nova Oval', cursive;
  font-family: 'Space Mono', monospace;
}

.game-container {
  overflow: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  /* background-color: #2a5825; */
  background-color: #000000;
  /* background-image: url("images/linked3.png"); */
  z-index: 100;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
  width: 50px;
}

.navlinks {
    flex: 1;
    text-align: right;
}

.navlinks ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navlinks ul li a{
  /* color: #fff; */
  color: #ffffff;
  text-decoration: none;
  font-size: 32px;
}

.navlinks li a:hover {
  /*color: #4e7849;*/
  color: #b31818;
}

.navlinks.sticky li a:hover {
  color: #000;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0; /* add this line */
  width: 100%;
  z-index: 100;
}

marquee {
    height: 30vh;
}

marquee img {
    width: 50px;
}

@media(max-width:700px) {
  .navlinks ul li{
    display: block;
  }

  .navlinks{
    position: absolute;
    /* background: #2a5825; */
    background: #f10b0b;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }
}

/*
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient()
}
*/

body {
    /* background-color: #140447; */
    /* background-color: #a8cd83; light green */

    background-image: url("images/bricks.png");
    background-repeat: repeat;
    background-size: auto;
    /*background-color: #010101;*/
    font-family: Arial, sans-serif;
}
  
h1 {
    /* color: #7474f9;*/
    /* color: #4e7849; green */
    /* color: #22ff09; */
    color: #ffffff;
    font-size: 46px;
    padding: 8px 12px;
}
  
p {
    color: #7474f9;
    font-size: 16px;
}

h4 {
  padding: 0px 100px 0px;
  /* color: #4e7849; */
  color: #ffffff;
  font-size: 50px;
}

h6 {
  padding: 11px 100px 0px;
  /* color: #4e7849; */
  color: #ffffff;
  font-size: 50px;
}

h2 {
  padding: 11px 100px 0px;
  /* color: #4e7849; */
  color: #ffffff;
  font-size: 50px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project h7 {
  margin: 0;
}

.project-description {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-right: 10px;
  text-align: justify;
}

h7 {
    padding: 11px 10px 0px;
    /* color: #4e7849; */
    color: #ffffff;
    font-size: 50px;
}

/* .contact-info {
  padding: 60px;
  font-size: 50px;
  color: #f3f70a;
  background-color: #4e7849;
  border-radius: 10px;
  text-align: center;
} */

/* @media only screen and (max-width: 600px) {
  .contact-info {
    font-size: 30px;
  }
} */

 form {
  margin: 50px auto;
  padding: 20px;
  font-size: 30px;
  max-width: 600px;
  color: #f3f70a;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

input[type="submit"] {
  background-color: #000000;
  color: #f3f70a;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

/*
label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}
*/

sideofcon {
  padding: 60px 60px 60px 60px;
  /* color: #4e7849; */
  color: #f3f70a;
  font-size: 30px;
}

sideofphoto {
  padding: 15px 15px 15px 15px;
  /* color: #4e7849; */
  color: #ffffff;
  font-size: 20px;
}

h3 {
    padding: 15px 110px;
    /* color: #4e7849; */
    color: #ffffff;
    font-size: 20px;
}



  .navbar .menu li {
    list-style: none;
    display: inline-block;
  }
  .navbar .menu li a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    color: #fff;
    transition: color 0.3s ease;
  }
  .navbar .menu li a:hover {
    color: #ac1d10;
  }
  .navbar.sticky .menu li a:hover {
    color: #b51414;
  }
/* nav end */



/*////////////icons////////////*/
.contact-icons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .contact-icons a {
    margin: 0 10px;
    font-size: 60px;
    /* color: #333333; */
    color: #ffffff;
    transition: color 0.2s ease-in-out;
  }
  
  .contact-icons a:hover {
    color: #0077b5;
  }

  /* #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  } */

  /* form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  } */

/* 
  .full h10{
    font-size: 2rem;
    display:block;
    margin: 2%;
    margin-bottom: 0;
    }
    .lt{
    padding: 2%;
    margin: 2%;
    }
    .rt{
    padding: 2%;
    margin: 2%;
    }
    .lt textarea{
    width: 94%;
    margin-left: 2.8%;
    }
    button{
    margin: 2%;
    }
    .btn-primary{
    background-color: black;
    border: 2px solid white;
    border-radius: 5%;
    }
    .list-item{
    margin-bottom: 2%;
    list-style-type: none;
    }
    .list-item span{
    margin-left: 10px;
    font-size: 1.4rem;
    }
    .list-item a{
    color: white;
    display: inline-block;
    }
    .list-item a:hover{
    text-decoration: underline;
    }
    .form-control{
    background-color: rgb(218, 194, 59);
    }
         
    @media screen and (min-width: 770px){
    .full{
        width: 70%;
        margin-left: 15%;
    }
    .lt textarea{
    width: 95%;
    margin-left: 2.4%;
    }
    }
         
    @media screen and (min-width: 1100px){
    .full{
        width: 65%;
        margin-left: 17%;
        margin-top: 5%;
    }
    .lt{
        width: 55%;
        display: inline-block;
        float: left;
        margin-right: 0;
    }
    .rt{
        width: 35%;
        display: inline-block;
        margin-left: 0;
    }
    .list-item{
    margin-bottom: 10%;
    }
    .contact-list{
        margin-top: 22%;
        padding-right: 8%;
    }
    .fa-envelope, .gmail{
        display: inline-block;
        width: auto;
    }
    } */