*{
    margin: 0;
    padding: 0;
    /*font-family: 'Nova Oval', cursive; font link*/
    font-family: 'Nova Oval', cursive;
  font-family: 'Space Mono', monospace;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  /* background-color: #2a5825; */
  background-color: #000000;
  /* background-image: url("images/linked3.png"); */
  z-index: 100;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
  width: 50px;
}

.navlinks {
    flex: 1;
    text-align: right;
}

.navlinks ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navlinks ul li a{
  /* color: #fff; */
  color: #ffffff;
  text-decoration: none;
  font-size: 32px;
}

.navlinks li a:hover {
  /*color: #4e7849;*/
  color: #b31818;
}

.navlinks.sticky li a:hover {
  color: #000;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0; /* add this line */
  width: 100%;
  z-index: 100;
}

marquee {
    height: 30vh;
}

marquee img {
    width: 50px;
}

@media(max-width:700px) {
  .navlinks ul li{
    display: block;
  }

  .navlinks{
    position: absolute;
    /* background: #2a5825; */
    background: #f10b0b;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }
}

/*
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient()
}
*/

body {
    /* background-color: #140447; */
    /* background-color: #a8cd83; light green */

    background-image: url("images/bricks.png");
    background-repeat: repeat;
    background-size: auto;
    /*background-color: #010101;*/
    font-family: Arial, sans-serif;
}
  
h1 {
    /* color: #7474f9;*/
    /* color: #4e7849; green */
    /* color: #22ff09; */
    color: #ffffff;
    font-size: 46px;
    padding: 8px 12px;
}
  
p {
    color: #7474f9;
    font-size: 16px;
}

h4 {
  padding: 0px 100px 0px;
  /* color: #4e7849; */
  color: #ffffff;
  font-size: 50px;
}

h6 {
  padding: 11px 100px 0px;
  /* color: #4e7849; */
  color: #ffffff;
  font-size: 50px;
}

h2 {
  padding: 11px 100px 0px;
  /* color: #4e7849; */
  color: #ffffff;
  font-size: 50px;
}


h3 {
    padding: 15px 110px;
    /* color: #4e7849; */
    color: #ffffff;
    font-size: 20px;
}

/* Navbar Styling*/
/*
.navbar {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 999;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
  }
  .navbar.sticky {
    padding: 2px 0;
    background-color: crimson;
  }
  .max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
  }
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /*
  .navbar .logo a {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    font-family: "Pacifico";
    transition: all 0.3s ease;
  }
  
  .navbar .logo a span {
    color: #4e7849;
  }
  .navbar.sticky .logo a span {
    color: white;
  }
  .navbar.sticky .logo a:hover,
  .navbar.sticky .logo a span:hover {
    color: black;
  }
  */




  .navbar .menu li {
    list-style: none;
    display: inline-block;
  }
  .navbar .menu li a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    color: #fff;
    transition: color 0.3s ease;
  }
  .navbar .menu li a:hover {
    color: #ac1d10;
  }
  .navbar.sticky .menu li a:hover {
    color: #b51414;
  }
/* nav end */

.contact-icons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .contact-icons a {
    margin: 0 10px;
    font-size: 60px;
    /* color: #333333; */
    color: #ffffff;
    transition: color 0.2s ease-in-out;
  }
  
  .contact-icons a:hover {
    color: #0077b5;
  }
